/* CREDITS =====================================================================
============================================================================= */

/**
* @file Useful snippets that you can add to the bottom of your
        streamable_chat.css file for extended functionality
* @author Frosthaven @thefrosthaven
* @todo Complete donation message styling
*/


/* Chat Animations (In & Out)
   This will animate new chat messages in from the right, and then fade them out
   after a short time.
*/
#items yt-live-chat-text-message-renderer {
  opacity:0;
  padding-left:10px;
  padding-bottom:10px;
  animation: inAndOut 15s;
  border:2px solid rgba(255,255,255,0.3);
}
@keyframes inAndOut {
  0% {
    opacity:1;
    left:100vw;
  } 2% {
    left:0;
  } 75% {
    opacity:1;
  } 100% {
    opacity:0;
  }
}